/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@theme {
     --font-monserrat: 'Montserrat', sans-serif;
     --font-fredoka: 'Fredoka';
     --color-orangeJUP: #FFA500;
     --color-grayBg: #F8F8F8;
    }

